In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Cidreira,-30.18,-50.21,69.04,78,100,11.56,BR,2020-12-15 04:13:11
1,1,Xuddur,4.12,43.89,68.67,72,0,16.62,SO,2020-12-15 04:13:03
2,2,Hermanus,-34.42,19.23,61.00,90,5,7.34,ZA,2020-12-15 04:12:57
3,3,Mataura,-46.19,168.86,64.00,71,0,15.99,NZ,2020-12-15 04:13:07
4,4,Geraldton,-28.77,114.60,84.20,28,0,19.46,AU,2020-12-15 04:12:57

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))