## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/Supriya Singh/Desktop/Maya SugarSync/UCB_Data_Analytics/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Busselton,AU,68.13,clear sky,-33.65,115.33,Observatory Guest House
1,2,Puerto Ayora,EC,86.00,clear sky,-0.74,-90.35,Finch Bay Galapagos Hotel
2,3,Avarua,CK,80.60,light rain,-21.21,-159.78,Paradise Inn
3,4,Bathsheba,BB,78.80,broken clouds,13.22,-59.52,Atlantis Hotel
4,5,Vao,NC,77.90,light rain,-22.67,167.48,Hotel Kou-Bugny

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == 'Damietta']
vacation_end = vacation_df.loc[vacation_df["City"] == 'Damietta']
vacation_stop1 = vacation_df.loc[vacation_df["City"] == 'Marsa Matruh']
vacation_stop2 = vacation_df.loc[vacation_df["City"] == 'Asyut'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == 'Aswan']

In [29]:
(vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])

(24.09, 32.91)

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
#vacation_route = gmaps.directions_layer(vacation_start, vacation_start)
#fig.add_layer(vacation_route)

travel = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(travel)

fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,253,Damietta,EG,62.73,clear sky,31.42,31.81,العواد لتجارة الابلكاش
1,73,Marsa Matruh,EG,62.11,few clouds,31.35,27.25,Beau Site
2,94,Asyut,EG,57.25,clear sky,27.18,31.18,Florence Hotel Assiut
3,585,Aswan,EG,65.43,clear sky,24.09,32.91,Nuba Nile

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))